body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
  border: 2px solid red;
}


header, footer {
  background-color: royalblue;
  color: white;
  padding: 20px;
  border: 2px solid royalblue;
}

main {
  border: 2px solid blue;
}

h2.titulo {
  margin: 0;
  padding: 20px;
  border: 2px solid blue;
  background-color: lightgray;
  color: #2c3e50;
  font-family: Georgia, serif;
}


.intro-parrafo {
  margin: 20px auto;
  width: 100%;
  font-size: 1.1em;
  border: 2px solid blue;
  background-color: rgb(130, 200, 224);
}
.intro-parrafo p {
  color: #2f4f4f;
}

.imagenes-dos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  border: 2px solid blue;
  background-color: #a7bfe3;
}
.imagenes-dos img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  border: 2px solid blue;
}

.parrafo-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
  flex-wrap: wrap;
  border: 2px solid blue;
  background-color: #a7bfe3;
}

.parrafo-imagen p, 
.parrafo-imagen img {
  flex: 1 1 30%;
  border: 2px solid blue;
}
.parrafo-imagen img {
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid blue;
}
.parrafo-imagen p {
  color: purple;
}

.parrafo-final {
  margin-top: 30px;
  border: 2px solid blue;
  background-color: lightgray;
}
.parrafo-final p {
  color: black;
}

footer p {
  color: black;
  font-weight: bold;
}
